* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.enter {
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.enter > button {
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: sans-serif;
    color: white;
    background-color:brown;
    border-radius: 1.5rem;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.grid{
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}


.box {
    border: 1px solid red;
}